 
  direction {
    color: black;
    font-size:  30px;
  }
  speech{
      color: black;
      font-size: 20px;
  }
  name{
    color: black;
    font-size: 40px;
    background-color: lightblue;
      }

  direction:hover{
      background-color: violet;
      color: aliceblue;

}

  HEN{
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  TRI{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

    table, th, td {
    border: 1px solid;
    text-align: center;
  }
    th {
        color: crimson;
        padding: 15px;
  }

  TRI:hover{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  
  }
  HEN:hover{
    text-shadow: 2px 2px 5px red;
  }